*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7785AC;
    /* background-color: #A5E6BA; */
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    color: #360568;
    background-color: #9AC6C5;
}

h1{
    margin-top: 3rem;
    color: #360568;
}

.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #360568;
    color: #9AC6C5;
    border-radius: 1rem;
    border: none;
}

#new{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #360568;
    color: #9AC6C5;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #9AC6C5;
    font-size: 5vmin;
}

.msg-cont{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}